In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('csv/inactive_players.csv')
df2= pd.read_csv('csv/cleaned/line_score_cleaned.csv')
df3= pd.read_csv('csv/cleaned/game_summary_cleaned.csv')
print('ESTE ES EL SHAPE:')
print(df.shape)
print(df.columns)
print('INFO DE DF')
df.info

ESTE ES EL SHAPE:
(110191, 9)
Index(['game_id', 'player_id', 'first_name', 'last_name', 'jersey_num',
       'team_id', 'team_city', 'team_name', 'team_abbreviation'],
      dtype='object')
INFO DE DF

<bound method DataFrame.info of          game_id  player_id first_name   last_name  jersey_num     team_id  \
0       29600034        184      Bobby      Phills        14.0  1610612739
1       29600034        781       Will      Perdue        41.0  1610612759
2       29600132        120     Steven       Smith         8.0  1610612737
3       29600203        698      Eddie     Johnson         8.0  1610612754
4       29600213         32   Clifford      Rozier        44.0  1610612753
...          ...        ...        ...         ...         ...         ...
110186  32200001    1629627       Zion  Williamson         1.0  1610616834
110187  32200001     201939    Stephen       Curry        30.0  1610616834
110188  32200001     201142      Kevin      Durant        35.0  1610616833
110189  32200001    1629627       Zion  Williamson         1.0  1610616834
110190  32200001     201939    Stephen       Curry        30.0  1610616834

          team_city  team_name team_abbreviation
0         Cleveland  Cavaliers               CLE
1       San Antonio      Spurs               SAS
2           Atlanta      Hawks               ATL
3           Indiana     Pacers               IND
4           Orlando      Magic               ORL
...             ...        ...               ...
110186         Team     LeBron               LBN
110187         Team     LeBron               LBN
110188         Team    Giannis               GNS
110189         Team     LeBron               LBN
110190         Team     LeBron               LBN

[110191 rows x 9 columns]>

In [2]:
#SEGMENTAR GRUPO DE ESTUDIO
df = df[df['game_id'].isin(df2['game_id'])]
# Verificamos cuántas filas quedaron
print(f"Registros en el grupo de estudio: {len(df)}")
print(df.columns)

Registros en el grupo de estudio: 109757
Index(['game_id', 'player_id', 'first_name', 'last_name', 'jersey_num',
       'team_id', 'team_city', 'team_name', 'team_abbreviation'],
      dtype='object')

In [3]:
print(df.shape)
df.info

(109757, 9)

<bound method DataFrame.info of          game_id  player_id first_name        last_name  jersey_num  \
434     20300590        980   Zydrunas        Ilgauskas        11.0
435     20300590       2544     LeBron            James        23.0
436     20300607       2211       Troy           Murphy         1.0
437     20300605       2544     LeBron            James        23.0
438     20300605       2257      Ruben  Boumtje-Boumtje        44.0
...          ...        ...        ...              ...         ...
110186  32200001    1629627       Zion       Williamson         1.0
110187  32200001     201939    Stephen            Curry        30.0
110188  32200001     201142      Kevin           Durant        35.0
110189  32200001    1629627       Zion       Williamson         1.0
110190  32200001     201939    Stephen            Curry        30.0

           team_id     team_city  team_name team_abbreviation
434     1610612739     Cleveland  Cavaliers               CLE
435     1610612739     Cleveland  Cavaliers               CLE
436     1610612744  Golden State   Warriors               GSW
437     1610612739     Cleveland  Cavaliers               CLE
438     1610612739     Cleveland  Cavaliers               CLE
...            ...           ...        ...               ...
110186  1610616834          Team     LeBron               LBN
110187  1610616834          Team     LeBron               LBN
110188  1610616833          Team    Giannis               GNS
110189  1610616834          Team     LeBron               LBN
110190  1610616834          Team     LeBron               LBN

[109757 rows x 9 columns]>

In [4]:
# Eliminamos si el mismo jugador aparece dos veces en el mismo partido
df.drop_duplicates(subset=['game_id', 'player_id'], keep='first', inplace=True)
print(df.shape)

(109750, 9)

C:\Users\palom\AppData\Local\Temp\ipykernel_3276\1858093591.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(subset=['game_id', 'player_id'], keep='first', inplace=True)

In [5]:
#Seguimos con la columna Jersey.
jugadores_con_cero = df[df['jersey_num'] == 0]
print(f"Jugadores que realmente usan el número 0: {len(jugadores_con_cero)}")

#Al ser cero un numero valido de camiseta, reemplazamos los nulos por un número imposible (-1)
df['jersey_num'] = df['jersey_num'].fillna(-1).astype(int)

#Convertimos la columna a enteros
df['jersey_num'] = df['jersey_num'].astype(int)

Jugadores que realmente usan el número 0: 3672

C:\Users\palom\AppData\Local\Temp\ipykernel_3276\3707463543.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['jersey_num'] = df['jersey_num'].fillna(-1).astype(int)
C:\Users\palom\AppData\Local\Temp\ipykernel_3276\3707463543.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['jersey_num'] = df['jersey_num'].astype(int)

In [6]:
#REVISION DE NULOS
df.isnull().sum()

#REVISION VALORES UNICOS COLUMNAS team_city y  team_name
print(df['team_city'].unique())
print(df['team_name'].unique())

['Cleveland' 'Golden State' 'Sacramento' 'Philadelphia' 'Miami'
 'Los Angeles' 'New Jersey' 'Memphis' 'Atlanta' 'Detroit' 'Orlando'
 'Phoenix' 'Seattle' 'Houston' 'Indiana' 'Toronto' 'Charlotte' 'New York'
 'New Orleans' 'Minnesota' 'Denver' 'Milwaukee' 'Washington' 'Dallas'
 'San Antonio' 'Portland' 'New Orleans/Oklahoma City' 'Boston' 'Utah'
 'Chicago' 'Real Madrid' 'East NBA All Stars' 'Oklahoma City' 'Moscow'
 'Vilnius' 'Brooklyn' 'West NBA All Stars' 'LA' 'Team' 'Adelaide']
['Cavaliers' 'Warriors' 'Kings' '76ers' 'Heat' 'Lakers' 'Nets' 'Grizzlies'
 'Hawks' 'Pistons' 'Magic' 'Suns' 'SuperSonics' 'Rockets' 'Pacers'
 'Raptors' 'Bobcats' 'Knicks' 'Hornets' 'Timberwolves' 'Nuggets' 'Bucks'
 'Wizards' 'Mavericks' 'Spurs' 'Trail Blazers' 'Celtics' 'Clippers' 'Jazz'
 'Bulls' 'Real Madrid' 'East' 'Thunder' 'CSKA' 'Lietuvos Rytas' 'Pelicans'
 'West' 'LeBron' 'Durant' '36ers' 'Giannis']

In [7]:
# Verificamos los registros erroneos y los pertenecientes a AllStars

matriz_equipos= ['Team','East NBA All Stars', 'West NBA All Stars', 'Real Madrid']
game_id=[]
for i in matriz_equipos:
    df_temporal= df[df['team_city'] == i]
    if i == 'Team':
        print(df_temporal['team_name'].value_counts())
    game_id.append(df_temporal['game_id'])
    #guardamos todos los id en game_id
    print(df_temporal['team_name'].unique())
    print(df_temporal.shape)

team_name
LeBron     9
Durant     6
Giannis    1
Name: count, dtype: int64
['LeBron' 'Durant' 'Giannis']
(16, 9)
['East']
(7, 9)
['West']
(1, 9)
['Real Madrid']
(1, 9)

In [9]:
#Eliminamos filas pertenecientes a los registros de AllStars
# 1. Usamos concatenate para unir todas las sub-listas en una sola
lista_negra_limpia = np.concatenate(game_id).astype(str)

# 2. Aplicamos el filtro de negación (~) asegurando que el DF también sea string
df = df[~df['game_id'].astype(str).isin(lista_negra_limpia)]

# 3. Verificamos la limpieza
print(f"Registros inactive_players después de la depuración: {len(df)}")

# 4. Limpiamos line_Score_cleaned (df2)
print(f"Registros line_Score_cleaned antes de la depuración: {len(df2)}")
df2 = df2[~df2['game_id'].astype(str).isin(lista_negra_limpia)]

# 5. Limpiamos Game_summary_cleaned (df3)
print(f"Registros Game_summary_cleaned antes de la depuración: {len(df3)}")
df3 = df3[~df3['game_id'].astype(str).isin(lista_negra_limpia)]

# 4. Verificación de resultados
print("--- Auditoría de Limpieza Final ---")
print(f"Partidos en Line Score (df2): {len(df2)}")
print(f"Partidos en Game Summary (df3): {len(df3)}")

Registros inactive_players después de la depuración: 109724
Registros line_Score_cleaned antes de la depuración: 23023
Registros Game_summary_cleaned antes de la depuración: 23023
--- Auditoría de Limpieza Final ---
Partidos en Line Score (df2): 23023
Partidos en Game Summary (df3): 23023

In [12]:
df.to_csv('csv/cleaned/inactive_players_cleaned.csv', index=False)