In [1]:
import pandas as pd
import datetime
df = pd.read_csv('csv/line_score.csv')
print('ESTE ES EL SHAPE:')
print(df.shape)
print('INFO DE DF')
df.info

ESTE ES EL SHAPE:
(58053, 43)
INFO DE DF

<bound method DataFrame.info of              game_date_est  game_sequence   game_id  team_id_home  \
0      1946-11-01 00:00:00            NaN  24600001    1610610035
1      1946-11-02 00:00:00            NaN  24600003    1610610034
2      1946-11-02 00:00:00            NaN  24600002    1610612738
3      1946-11-02 00:00:00            NaN  24600004    1610610025
4      1946-11-02 00:00:00            NaN  24600005    1610610036
...                    ...            ...       ...           ...
58048  2023-06-07 00:00:00            1.0  42200403    1610612748
58049  2023-06-09 00:00:00            1.0  42200404    1610612748
58050  2023-06-12 00:00:00            1.0  42200405    1610612743
58051  2023-02-19 00:00:00            1.0  32200001    1610616834
58052  2023-02-19 00:00:00            1.0  32200001    1610616834

      team_abbreviation_home team_city_name_home team_nickname_home  \
0                        HUS             Toronto            Huskies
1                        BOM           St. Louis            Bombers
2                        BOS              Boston            Celtics
3                        CHS             Chicago              Stags
4                        WAS          Washington           Capitols
...                      ...                 ...                ...
58048                    MIA               Miami               Heat
58049                    MIA               Miami               Heat
58050                    DEN              Denver            Nuggets
58051                    LBN                Team             LeBron
58052                    LBN                Team             LeBron

      team_wins_losses_home  pts_qtr1_home  pts_qtr2_home  ...  pts_ot2_away  \
0                         -            NaN            NaN  ...           NaN
1                         -           16.0           16.0  ...           NaN
2                         -           10.0           16.0  ...           NaN
3                         -            NaN            NaN  ...           NaN
4                         -           21.0            4.0  ...           NaN
...                     ...            ...            ...  ...           ...
58048                   1-2           24.0           24.0  ...           0.0
58049                   1-3           21.0           30.0  ...           0.0
58050                   4-1           22.0           22.0  ...           0.0
58051                   0-1           46.0           46.0  ...           0.0
58052                   0-1           46.0           46.0  ...           0.0

       pts_ot3_away  pts_ot4_away  pts_ot5_away  pts_ot6_away  pts_ot7_away  \
0               NaN           NaN           NaN           NaN           NaN
1               NaN           NaN           NaN           NaN           NaN
2               NaN           NaN           NaN           NaN           NaN
3               NaN           NaN           NaN           NaN           NaN
4               NaN           NaN           NaN           NaN           NaN
...             ...           ...           ...           ...           ...
58048           0.0           0.0           0.0           0.0           0.0
58049           0.0           0.0           0.0           0.0           0.0
58050           0.0           0.0           0.0           0.0           0.0
58051           0.0           0.0           0.0           0.0           0.0
58052           0.0           0.0           0.0           0.0           0.0

       pts_ot8_away  pts_ot9_away  pts_ot10_away  pts_away
0               NaN           NaN            NaN      68.0
1               NaN           NaN            NaN      51.0
2               NaN           NaN            NaN      59.0
3               NaN           NaN            NaN      47.0
4               NaN           NaN            NaN      33.0
...             ...           ...            ...       ...
58048           0.0           0.0            0.0     109.0
58049           0.0           0.0            0.0     108.0
58050           0.0           0.0            0.0      89.0
58051           0.0           0.0            0.0     184.0
58052           0.0           0.0            0.0     184.0

[58053 rows x 43 columns]>

In [2]:
#CORREGIR FECHAS
df['game_date_est'] = pd.to_datetime(df['game_date_est'])
#SEGMENTAR GRUPO DE ESTUDIO
df = df[df['game_date_est'] >= '2004-01-01']
print(df.columns)

Index(['game_date_est', 'game_sequence', 'game_id', 'team_id_home',
       'team_abbreviation_home', 'team_city_name_home', 'team_nickname_home',
       'team_wins_losses_home', 'pts_qtr1_home', 'pts_qtr2_home',
       'pts_qtr3_home', 'pts_qtr4_home', 'pts_ot1_home', 'pts_ot2_home',
       'pts_ot3_home', 'pts_ot4_home', 'pts_ot5_home', 'pts_ot6_home',
       'pts_ot7_home', 'pts_ot8_home', 'pts_ot9_home', 'pts_ot10_home',
       'pts_home', 'team_id_away', 'team_abbreviation_away',
       'team_city_name_away', 'team_nickname_away', 'team_wins_losses_away',
       'pts_qtr1_away', 'pts_qtr2_away', 'pts_qtr3_away', 'pts_qtr4_away',
       'pts_ot1_away', 'pts_ot2_away', 'pts_ot3_away', 'pts_ot4_away',
       'pts_ot5_away', 'pts_ot6_away', 'pts_ot7_away', 'pts_ot8_away',
       'pts_ot9_away', 'pts_ot10_away', 'pts_away'],
      dtype='object')

In [3]:
#NUEVO SHAPE
print(df.shape)
#REVISION DE NULOS
df.isnull().sum()

#El 46% de las filas de las columnas pts_ot5_home a pts_ot10_home, son nulas

(23043, 43)

game_date_est                 0
game_sequence                 0
game_id                       0
team_id_home                  0
team_abbreviation_home        0
team_city_name_home           0
team_nickname_home            0
team_wins_losses_home         0
pts_qtr1_home                 0
pts_qtr2_home                 0
pts_qtr3_home                 0
pts_qtr4_home                 0
pts_ot1_home                  0
pts_ot2_home                  0
pts_ot3_home                  0
pts_ot4_home                  0
pts_ot5_home              10576
pts_ot6_home              10576
pts_ot7_home              10576
pts_ot8_home              10576
pts_ot9_home              10576
pts_ot10_home             10576
pts_home                      0
team_id_away                  0
team_abbreviation_away        0
team_city_name_away           0
team_nickname_away            0
team_wins_losses_away         0
pts_qtr1_away                 0
pts_qtr2_away                 0
pts_qtr3_away                 0
pts_qtr4_away                 0
pts_ot1_away                  0
pts_ot2_away                  0
pts_ot3_away                  0
pts_ot4_away                  0
pts_ot5_away              10576
pts_ot6_away              10576
pts_ot7_away              10576
pts_ot8_away              10576
pts_ot9_away              10576
pts_ot10_away             10576
pts_away                      0
dtype: int64

In [4]:
#VERIFICAMOS QUE NO HAYA ERRORES DE REGISTROS EN LAS COLUMNAS pts_ot
# Usamos filter para agarrar todas las que tengan 'pts_qtr' o 'pts_ot'
cols_puntos_home = [c for c in df.columns if ('pts_qtr' in c or 'pts_ot' in c) and '_home' in c]
cols_puntos_away = [c for c in df.columns if ('pts_qtr' in c or 'pts_ot' in c) and '_away' in c]

# Creamos una columna temporal con la suma calculada
df['suma_calculada_home'] = df[cols_puntos_home].sum(axis=1)
df['suma_calculada_away'] = df[cols_puntos_away].sum(axis=1)

# Comparamos la suma calculada contra la columna total del dataset (pts_home y pts_away)
# Usamos un margen de error mínimo por si hay nulos (fillna(0))
error_home = df[df['suma_calculada_home'] != df['pts_home'].fillna(0)]
error_away = df[df['suma_calculada_away'] != df['pts_away'].fillna(0)]

# Resultados
print(f"Filas con errores en suma de Local: {len(error_home)}")
print(f"Filas con errores en suma de Visitante: {len(error_away)}")

if len(error_home) == 0 and len(error_away) == 0:
    print("¡Perfecto! Todos los puntajes coinciden con la suma de sus cuartos.")
else:
    print("Se encontraron discrepancias. Revisa las variables 'error_home' o 'error_away'.")

Filas con errores en suma de Local: 0
Filas con errores en suma de Visitante: 1
Se encontraron discrepancias. Revisa las variables 'error_home' o 'error_away'.

C:\Users\palom\AppData\Local\Temp\ipykernel_11532\3067920093.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['suma_calculada_home'] = df[cols_puntos_home].sum(axis=1)
C:\Users\palom\AppData\Local\Temp\ipykernel_11532\3067920093.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['suma_calculada_away'] = df[cols_puntos_away].sum(axis=1)

In [5]:
#Como encontramos una sola fila de errores, forzamos la suma
df.loc[df['suma_calculada_away'] != df['pts_away'], 'pts_away'] = df['suma_calculada_away']

In [6]:
#QUITAMOS LAS COLUMNAS TEMPORALES
df.drop(columns=['suma_calculada_home', 'suma_calculada_away'], inplace=True)

C:\Users\palom\AppData\Local\Temp\ipykernel_11532\2874412050.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['suma_calculada_home', 'suma_calculada_away'], inplace=True)

In [7]:
print(df.columns)

Index(['game_date_est', 'game_sequence', 'game_id', 'team_id_home',
       'team_abbreviation_home', 'team_city_name_home', 'team_nickname_home',
       'team_wins_losses_home', 'pts_qtr1_home', 'pts_qtr2_home',
       'pts_qtr3_home', 'pts_qtr4_home', 'pts_ot1_home', 'pts_ot2_home',
       'pts_ot3_home', 'pts_ot4_home', 'pts_ot5_home', 'pts_ot6_home',
       'pts_ot7_home', 'pts_ot8_home', 'pts_ot9_home', 'pts_ot10_home',
       'pts_home', 'team_id_away', 'team_abbreviation_away',
       'team_city_name_away', 'team_nickname_away', 'team_wins_losses_away',
       'pts_qtr1_away', 'pts_qtr2_away', 'pts_qtr3_away', 'pts_qtr4_away',
       'pts_ot1_away', 'pts_ot2_away', 'pts_ot3_away', 'pts_ot4_away',
       'pts_ot5_away', 'pts_ot6_away', 'pts_ot7_away', 'pts_ot8_away',
       'pts_ot9_away', 'pts_ot10_away', 'pts_away'],
      dtype='object')

In [8]:
# Filtramos las columnas que van de pts_ot5_away hasta pts_ot10_away
columnas_ot_lejanas1 = [f'pts_ot{i}_away' for i in range(5, 11)]
columnas_ot_lejanas2 = [f'pts_ot{i}_home' for i in range(5, 11)]

# Mostramos cuántos nulos hay en cada una
print("Nulos en tiempos extra lejanos (Visitante):")
print(df[columnas_ot_lejanas1].isnull().sum())
print(df[columnas_ot_lejanas2].isnull().sum())

Nulos en tiempos extra lejanos (Visitante):
pts_ot5_away     10576
pts_ot6_away     10576
pts_ot7_away     10576
pts_ot8_away     10576
pts_ot9_away     10576
pts_ot10_away    10576
dtype: int64
pts_ot5_home     10576
pts_ot6_home     10576
pts_ot7_home     10576
pts_ot8_home     10576
pts_ot9_home     10576
pts_ot10_home    10576
dtype: int64

In [9]:
# Contamos cuántos partidos tuvieron puntos en el OT 5
partidos_ot5 = df[df['pts_ot5_away'] > 0]

print(f"Total de partidos desde 2004: {len(df)}")
print(f"Partidos que llegaron a 5 tiempos extra: {len(partidos_ot5)}")

Total de partidos desde 2004: 23043
Partidos que llegaron a 5 tiempos extra: 0

In [10]:
# Verificamos los valores únicos en OT5 para entender qué está pasando
print("Valores únicos encontrados en pts_ot5_home en adelante:")

for i in columnas_ot_lejanas1:
    print(df[i].unique())
    # Vemos las primeras filas donde esa columna NO es cero ni nula
    muestra_datos = df[df[i] > 0][['game_id', 'game_date_est', i, 'pts_home']]
    print("\nMuestra de partidos con datos en OT5 en adelante:")
    display(muestra_datos.head())

Valores únicos encontrados en pts_ot5_home en adelante:
[nan  0.]

Muestra de partidos con datos en OT5 en adelante:

Empty DataFrame
Columns: [game_id, game_date_est, pts_ot5_away, pts_home]
Index: []

[nan  0.]

Muestra de partidos con datos en OT5 en adelante:

Empty DataFrame
Columns: [game_id, game_date_est, pts_ot6_away, pts_home]
Index: []

[nan  0.]

Muestra de partidos con datos en OT5 en adelante:

Empty DataFrame
Columns: [game_id, game_date_est, pts_ot7_away, pts_home]
Index: []

[nan  0.]

Muestra de partidos con datos en OT5 en adelante:

Empty DataFrame
Columns: [game_id, game_date_est, pts_ot8_away, pts_home]
Index: []

[nan  0.]

Muestra de partidos con datos en OT5 en adelante:

Empty DataFrame
Columns: [game_id, game_date_est, pts_ot9_away, pts_home]
Index: []

[nan  0.]

Muestra de partidos con datos en OT5 en adelante:

Empty DataFrame
Columns: [game_id, game_date_est, pts_ot10_away, pts_home]
Index: []

In [11]:
# Verificamos los valores únicos en OT5 para entender qué está pasando
print("Valores únicos encontrados en pts_ot5_away en adelante:")

for i in columnas_ot_lejanas2:
    print(df[i].unique())
    # Vemos las primeras filas donde esa columna NO es cero ni nula
    muestra_datos = df[df[i] > 0][['game_id', 'game_date_est', i, 'pts_away']]
    print("\nMuestra de partidos con datos en OT5 en adelante:")
    display(muestra_datos.head())

Valores únicos encontrados en pts_ot5_away en adelante:
[nan  0.]

Muestra de partidos con datos en OT5 en adelante:

Empty DataFrame
Columns: [game_id, game_date_est, pts_ot5_home, pts_away]
Index: []

[nan  0.]

Muestra de partidos con datos en OT5 en adelante:

Empty DataFrame
Columns: [game_id, game_date_est, pts_ot6_home, pts_away]
Index: []

[nan  0.]

Muestra de partidos con datos en OT5 en adelante:

Empty DataFrame
Columns: [game_id, game_date_est, pts_ot7_home, pts_away]
Index: []

[nan  0.]

Muestra de partidos con datos en OT5 en adelante:

Empty DataFrame
Columns: [game_id, game_date_est, pts_ot8_home, pts_away]
Index: []

[nan  0.]

Muestra de partidos con datos en OT5 en adelante:

Empty DataFrame
Columns: [game_id, game_date_est, pts_ot9_home, pts_away]
Index: []

[nan  0.]

Muestra de partidos con datos en OT5 en adelante:

Empty DataFrame
Columns: [game_id, game_date_est, pts_ot10_home, pts_away]
Index: []

In [12]:
#COMO NO EXISTEN JUEGOS QUE TENGAN 5TO TIEMPO EN ADELANTE, ELIMINAMOS LAS COLUMNAS pts_ot5 en adelante
for i in columnas_ot_lejanas1:
    df.drop(columns=[i], inplace=True)
for i in columnas_ot_lejanas2:
    df.drop(columns=[i], inplace=True)

C:\Users\palom\AppData\Local\Temp\ipykernel_11532\3454215778.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=[i], inplace=True)
C:\Users\palom\AppData\Local\Temp\ipykernel_11532\3454215778.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=[i], inplace=True)
C:\Users\palom\AppData\Local\Temp\ipykernel_11532\3454215778.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=[i], inplace=True)
C:\Users\palom\AppData\Local\Temp\ipykernel_11532\3454215778.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=[i], inplace=True)
C:\Users\palom\AppData\Local\Temp\ipykernel_11532\3454215778.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=[i], inplace=True)
C:\Users\palom\AppData\Local\Temp\ipykernel_11532\3454215778.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=[i], inplace=True)
C:\Users\palom\AppData\Local\Temp\ipykernel_11532\3454215778.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=[i], inplace=True)
C:\Users\palom\AppData\Local\Temp\ipykernel_11532\3454215778.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=[i], inplace=True)
C:\Users\palom\AppData\Local\Temp\ipykernel_11532\3454215778.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=[i], inplace=True)
C:\Users\palom\AppData\Local\Temp\ipykernel_11532\3454215778.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=[i], inplace=True)
C:\Users\palom\AppData\Local\Temp\ipykernel_11532\3454215778.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=[i], inplace=True)
C:\Users\palom\AppData\Local\Temp\ipykernel_11532\3454215778.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=[i], inplace=True)

In [13]:
print(df.columns)

Index(['game_date_est', 'game_sequence', 'game_id', 'team_id_home',
       'team_abbreviation_home', 'team_city_name_home', 'team_nickname_home',
       'team_wins_losses_home', 'pts_qtr1_home', 'pts_qtr2_home',
       'pts_qtr3_home', 'pts_qtr4_home', 'pts_ot1_home', 'pts_ot2_home',
       'pts_ot3_home', 'pts_ot4_home', 'pts_home', 'team_id_away',
       'team_abbreviation_away', 'team_city_name_away', 'team_nickname_away',
       'team_wins_losses_away', 'pts_qtr1_away', 'pts_qtr2_away',
       'pts_qtr3_away', 'pts_qtr4_away', 'pts_ot1_away', 'pts_ot2_away',
       'pts_ot3_away', 'pts_ot4_away', 'pts_away'],
      dtype='object')

In [14]:
df.drop_duplicates(subset=['game_id'], keep='first', inplace=True)
print(df.shape)
print(f"Partidos únicos en line_score: {df['game_id'].nunique()}")

(23032, 31)
Partidos únicos en line_score: 23032

C:\Users\palom\AppData\Local\Temp\ipykernel_11532\176578903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(subset=['game_id'], keep='first', inplace=True)

In [ ]:
df2= pd.read_csv('csv/game_summary.csv')
ids_comunes = set(df2['game_id']).intersection(set(df['game_id']))
df = df[df['game_id'].isin(ids_comunes)]
print(f"Partidos en Line Score (df2): {len(df)}")
df.to_csv('csv/cleaned/line_score_cleaned.csv', index=False)

Partidos en Line Score (df2): 23032