In [1]:
import pandas as pd
import numpy as np
df= pd.read_csv('csv/other_stats.csv')
df2= pd.read_csv('csv/cleaned/inactive_players_cleaned.csv')
print(df.columns)
print(df.shape)

Index(['game_id', 'league_id', 'team_id_home', 'team_abbreviation_home',
       'team_city_home', 'pts_paint_home', 'pts_2nd_chance_home',
       'pts_fb_home', 'largest_lead_home', 'lead_changes', 'times_tied',
       'team_turnovers_home', 'total_turnovers_home', 'team_rebounds_home',
       'pts_off_to_home', 'team_id_away', 'team_abbreviation_away',
       'team_city_away', 'pts_paint_away', 'pts_2nd_chance_away',
       'pts_fb_away', 'largest_lead_away', 'team_turnovers_away',
       'total_turnovers_away', 'team_rebounds_away', 'pts_off_to_away'],
      dtype='object')
(28271, 26)

In [4]:
#SEGMENTAR GRUPO DE ESTUDIO
df = df[df['game_id'].isin(df2['game_id'])]
df.info

<bound method DataFrame.info of         game_id  league_id  team_id_home team_abbreviation_home  \
7347   20300590          0    1610612760                    SEA
7357   20300607          0    1610612744                    GSW
7358   20300605          0    1610612739                    CLE
7371   20300623          0    1610612739                    CLE
7385   20300635          0    1610612739                    CLE
...         ...        ...           ...                    ...
28264  42200307          0    1610612748                    MIA
28265  42200401          0    1610612748                    MIA
28266  42200402          0    1610612743                    DEN
28267  42200403          0    1610612748                    MIA
28268  42200404          0    1610612743                    DEN

      team_city_home  pts_paint_home  pts_2nd_chance_home  pts_fb_home  \
7347         Seattle              38                   16            9
7357    Golden State              30                    7           10
7358       Cleveland              32                   12           10
7371       Cleveland              38                    6           15
7385       Cleveland              50                   21           19
...              ...             ...                  ...          ...
28264          Miami              38                   16           17
28265          Miami              38                    8            4
28266         Denver              50                   15           18
28267          Miami              34                    7           11
28268         Denver              48                    6           12

       largest_lead_home  lead_changes  ...  team_abbreviation_away  \
7347                  13            20  ...                     CLE
7357                   0             0  ...                     SEA
7358                   6             7  ...                     SAC
7371                  20             0  ...                     PHI
7385                   5            18  ...                     ORL
...                  ...           ...  ...                     ...
28264                 23             1  ...                     BOS
28265                  1             4  ...                     DEN
28266                 15             4  ...                     MIA
28267                  5             7  ...                     DEN
28268                 17             3  ...                     MIA

       team_city_away  pts_paint_away  pts_2nd_chance_away  pts_fb_away  \
7347        Cleveland              42                   26            9
7357          Seattle              46                   10           17
7358       Sacramento              40                   11           10
7371     Philadelphia              34                    5           10
7385          Orlando              18                    5            7
...               ...             ...                  ...          ...
28264          Boston              42                   13            8
28265          Denver              46                    7            9
28266           Miami              34                   11            5
28267          Denver              60                   14           11
28268           Miami              46                    9           14

       largest_lead_away team_turnovers_away total_turnovers_away  \
7347                   7                 0.0                 11.0
7357                  21                 0.0                 17.0
7358                  10                 0.0                 12.0
7371                   0                 3.0                 14.0
7385                  11                 0.0                 13.0
...                  ...                 ...                  ...
28264                  5                 0.0                 15.0
28265                 24                 0.0                 10.0
28266                 12                 0.0                 11.0
28267                 21                 1.0                 14.0
28268                  3                 1.0                 15.0

       team_rebounds_away  pts_off_to_away
7347                  NaN             11.0
7357                  NaN             11.0
7358                  NaN             10.0
7371                  NaN             12.0
7385                  NaN             16.0
...                   ...              ...
28264                 4.0             19.0
28265                 7.0              9.0
28266                 4.0             23.0
28267                 7.0             17.0
28268                 9.0             17.0

[18596 rows x 26 columns]>

In [5]:
#REVISION DE NULOS
df.isnull().sum()

game_id                    0
league_id                  0
team_id_home               0
team_abbreviation_home     0
team_city_home             0
pts_paint_home             0
pts_2nd_chance_home        0
pts_fb_home                0
largest_lead_home          0
lead_changes               0
times_tied                 0
team_turnovers_home        0
total_turnovers_home       0
team_rebounds_home        72
pts_off_to_home           31
team_id_away               0
team_abbreviation_away     0
team_city_away             0
pts_paint_away             0
pts_2nd_chance_away        0
pts_fb_away                0
largest_lead_away          0
team_turnovers_away        0
total_turnovers_away       0
team_rebounds_away        72
pts_off_to_away           31
dtype: int64

In [7]:
df = df.fillna(0)

In [9]:
#Convertimos las métricas a enteros (int) para eliminar los decimales .0
#Seleccionamos las columnas que queremos limpiar visualmente
cols_a_limpiar = [
    'pts_paint_home', 'pts_paint_away', 
    'pts_2nd_chance_home', 'pts_2nd_chance_away',
    'pts_fb_home', 'pts_fb_away',
    'pts_off_to_home', 'pts_off_to_away',
    'team_rebounds_home', 'team_rebounds_away',
    'team_turnovers_home', 'team_turnovers_away'
]
# Aplicamos la conversión solo a esas columnas
df[cols_a_limpiar] = df[cols_a_limpiar].astype(int)

In [10]:
#Verificación final de nulos
print("--- Verificación Final de Nulos en Other Stats ---")
print(df.isnull().sum().sum()) # Debería dar 0

display(df.head())

--- Verificación Final de Nulos en Other Stats ---
0

,game_id,league_id,team_id_home,team_abbreviation_home,team_city_home,pts_paint_home,pts_2nd_chance_home,pts_fb_home,largest_lead_home,lead_changes,...,team_abbreviation_away,team_city_away,pts_paint_away,pts_2nd_chance_away,pts_fb_away,largest_lead_away,team_turnovers_away,total_turnovers_away,team_rebounds_away,pts_off_to_away
7347,20300590,0,1610612760,SEA,Seattle,38,16,9,13,20,...,CLE,Cleveland,42,26,9,7,0,11.0,0,11
7357,20300607,0,1610612744,GSW,Golden State,30,7,10,0,0,...,SEA,Seattle,46,10,17,21,0,17.0,0,11
7358,20300605,0,1610612739,CLE,Cleveland,32,12,10,6,7,...,SAC,Sacramento,40,11,10,10,0,12.0,0,10
7371,20300623,0,1610612739,CLE,Cleveland,38,6,15,20,0,...,PHI,Philadelphia,34,5,10,0,3,14.0,0,12
7385,20300635,0,1610612739,CLE,Cleveland,50,21,19,5,18,...,ORL,Orlando,18,5,7,11,0,13.0,0,16

In [ ]:
df.to_csv('csv/cleaned/other_stats_cleaned_final.csv', index=False)